.header, .hero, .body, .bar, .footer{
    background-color: bisque;
    margin-top:20px;
    padding:15px 0;
}
.box{
    background-color: cyan;
    border:5px solid green;
    min-height:80px;
    font-size:25px;

}
.red{
    background-color: red;
}
.lime{
    background-color: lime;
}